<h1>cocktails show</h1>
<h2><%= @cocktail.name %></h2>
<h2>A user can see the details of a given cocktail, with the dose needed for each ingredient
</h2>
<%= link_to "cocktail list", cocktails_path %>
